/*Only colors*/
#Choose_FR, #Choose_Celsius
{
    color:  whitesmoke;
}

#Choose_ENG, #Farhenheit 
{
    color:  whitesmoke;
}
/*Only colors*/


/*Fonts from => top_bar_menu */
#App_name
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 75,
    "YTLC" 462;
    color: black;
    font-size: 1.5em; 
}

#location{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: whitesmoke;
    font-size: 1em;
}


#Choose_Celsius, #Farhenheit, #Choose_ENG, #Choose_FR
{
    font-size: 1em;
}

.menu
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 700,
    "YTLC" 500;
    color: whitesmoke;
    font-size: 1em;    
}

/* Fonts from => daily_weather_data */
#daily_sunrise
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: whitesmoke;
    font-size: 0.8em;
}

#daily_sunset
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: whitesmoke;
    font-size: 0.8em;
}

#date
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: whitesmoke;
    font-size: 1em;
}

#current_temperature
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: #f6a71b; 
    font-size: 3em;
}

#apparent_temperature
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color: whitesmoke;
    font-size: 1em;
}

#apparent_temperature_description
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    color: whitesmoke;
    font-size: 0.8em;
}

#more_details_title
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    color: whitesmoke;
    font-size: 1em;
}

#wind_speed, #air_humidity, #pressure, #precipitation 
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    color: whitesmoke;
    font-size: 0.8em;
}

.name_daily_status, .current_hours
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    color: whitesmoke;
    font-size: 0.8em;
}

.daily_temp
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    color: whitesmoke;
    font-size: 1rem;
}

/*Fonts from => weekly_weather_data*/
#selection_pointer
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    color: #f6a71b;
    font-size: 0.6em;
}

#selection_button
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    color: whitesmoke;
    font-size: 0.6em;
}

.day
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    color: whitesmoke;
    font-size: 1em;
}

.day_date, .min_temp, .max_temp, .weekly_comment
{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    color: whitesmoke;
    font-size: 0.8em;
}

.weekly_icons
{
    height: 2.3rem;
}
