/*Background & background picture*/
html,body
{
    margin:0;
    padding: 0;
    height: 100vh;
    font-size: 1vw; 
}

.container
{
    background-image: linear-gradient(rgba(255 255 255 / 18%), rgba(0 0 0 / 80%)),
    url(/Images_source/UI_landscape_interface/landscape_Images_sources/Background_late_after_noon.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.top_bar_menu
{
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;/*take into account padding margin into children element to size the box*/
    width: 100vw;
}

.empty_layout_room_manager
{
    flex-grow: 1;
}

/*RESPONSIVE LAYOUT - For phone especially - 1366px width & orientation: portrait*/

@media only screen and (max-width: 1366px) and (orientation : portrait)
{
    html,body
    {
        font-size: 2vw; 
    }
    .container
    {
        justify-content: space-evenly;
    }

    .daily_weather_data
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem 3rem 1rem 3rem;
    }
    .day_item_1 
    {
        padding-bottom: 5rem;
    }

    .empty_layout_room_manager {
        flex-grow: 0.4;
    }

    .top_bar_menu 
    {
        font-size: 1.5vw;
    }
}
