/*Main Container*/
.daily_weather_data
{
    /*Change flex orientation for diffent layout on phone or small screen - No laptop*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 3rem 1rem 3rem;
}

.day_item_1
{
    display: flex;
    align-items: stretch;
}
/* Start - box_icon_current_weather */

.box_icon_current_weather
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#icon_current_weather
{
    height: 7.5rem;
}

#daily_sunrise
{
    margin-bottom: 0;
}
#daily_sunset
{
    margin-top: 0.2rem;
}

/* Start - current_weather_data */
.current_weather_data
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0rem 1.3rem 0rem 1rem;
}

#current_temperature
{
    margin: 0;
}

#apparent_temperature
{
    margin-bottom: 0;
}

#apparent_temperature_description
{
    margin-top: 0.2rem;
}

/* Start - more_details*/
.more_details
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#wind_speed, #air_humidity, #pressure
{
    margin-top: 0.6rem; 
    margin-bottom: 0;
}

#precipitation 
{
    margin-top: 0.4rem; 
}


/*ITEM 2*/
.day_item_2
{
    display: flex;
    flex-direction: row;
    align-items: center;

    /*Glass effect*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(5px);
    padding: 0rem 2rem 0rem 2rem;
}

.pack
{
    display: flex;
    flex-direction: row;
}

.pack_time
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
}

.daily_icons
{
    height: 2.3rem;
}

.daily_temp
{
    margin-top: 0.6rem;
    margin-bottom: 0;
}

.current_hours
{
    margin-top: 0.6rem;
}